body {
    font-size: 1em;
}

header {
    background-color: lightblue
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }

 li {
    float:left;
     padding-right: 5px;
  }

  li a {
    font-color: black;
  }
