body {
    font-size: .85em;
    color: #5d5d67;
    font-family: Arial, sans-serif;
}

header {
    padding-top: 15px;
    height: 45px;

}

#leftnav {
    float:left;
    margin-left:1%;

}

#rightnav {
    float:right;

}

 ul {
    list-style-type: none;
    display: inline;
  }

 li {
    float:left;
    margin-right: 17px;
  }

  li a {
    color: #4f4f4f;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  li a:hover {
    text-decoration: underline;
  }
 .login {
  color: #FFF;
  background-color: #4386fa;
  border-radius:2px;
  width: 70px;
  margin-top: -5px;
  border:1px solid #4386fa;
  font-weight: bold;
  padding:5px;

}

#dialer-button {
    width: 25px;
    height: 25px;
    background-color: darkgrey;
    margin-top: -5px;
    
}

#search_field {
  border-radius:25px;
  border: 1px solid #dddddd;
  width: 31%;
  height: 2.9rem;
  box-shadow: 1px 1px 3px rgb(216, 216, 216);
}

#main_body {

}

.doodle {
  margin-bottom:8px;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#F2f2f2; 
  padding:10px; 
}

.search-bar {
  width: 85%;
  height: 2.8rem;
  position: relative;
  font-size: 1.2em;
  color: #5d5d67;
  border:none;


}

.otherButton {
  border-radius:4px;
  border: 1px solid #f2f2f2;
  
  margin:10px;
  padding:8px 15px;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size:.9rem;
  color: #5d5d67;
}